* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header-nav {
    background-color: white;
    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    top: 0;
    left: 0;

}

.navbar {
    background-color: white;
    font-size: 19px;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 4px;

}

.left-nav-item {

    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.left-item img {
    border-radius: 2px;
    width: 37px;
}

.Right-nav-item {

    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}


.menu-icon {
    display: none;
}


.left-nav-item #logo {
    display: none;
}

.stacking {
    position: relative;
}


.section-1 {
    width: 100%;

}

.section-1-Banner {
    width: 100%;
    height: 700px;
    margin: 0 auto;

}


.section-1-Banner img {

    width: 100%;
}

.section-2 {
    margin-top: 6.3em;
    width: 100%;

}

.section-container {
    width: 94%;
    margin: 0 auto;

}

#buttons-section {
    width: 40%;
    margin: 0 auto;
    margin-top: 2.3em;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
}

#section-3-content {
    width: 80%;
    margin: 0 auto;
    margin-top: 2.3em;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;

}

#divImage {
    width: 85%;

}

#divImage div {
    width: 70%;
    margin: 0 auto;
}

#divImage div img {
    width: 100%;

}

#divContent {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#learnMore {
    margin-top: 2em;
    width: 130px;
    padding: 12px;
    background-color: black;
    color: white;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

#learnMore:hover {
    cursor: pointer;
    background-color: rgb(34, 19, 19);

}

#section-4 {
    width: 94%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    font-weight: bold;
}

.card {
    margin-top: 2em;
    width: 237px;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 10px;

    padding: 4px;

}

/* Add animation here  */
#ffff img:hover {
    transform: scale(1.1);
}


@media screen and (max-width: 450px) {
    .header-nav {
        width: 100%;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }

    .navbar {

        font-size: 14px;
        color: blue;
        width: 94%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        line-height: 0.9;
        font-weight: bold;
    }

    .left-nav-item {

        margin-top: 1em;
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        background-color: red;
        display: none;
    }

    .left-item img {
        border-radius: 100%;
        width: 37px;
    }

    .Right-nav-item {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        display: none;
    }


    #logo {
        display: block;
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        font-size: 20px;
    }

    .section-1 {
        margin-top: 5em;
        width: 100%;

    }

    #buttons-section {
        width: 40%;
        margin: 0 auto;
        margin-top: 2.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        flex-wrap: wrap;
    }

    .section-2 {
    margin-top: -30em;
    width: 100%;

}

    #section-3-content {
        width: 80%;
        margin: 0 auto;
        margin-top: 2.3em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        flex-wrap: wrap;

    }
#section-4 {
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-content: center;
    font-size: 20px;
    flex-wrap: wrap;
    font-weight: bold;
}

}