* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header-nav {

    width: 100%;
    height: 60px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: fixed;
    left:0;
    top:0;
    background-color: white;
}

.navbar {
    font-size: 19px;
    width: 94%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 4px;
    /* flex-wrap: wrap; */
    position: absolute;
    z-index: 1;

}

.left-nav-item {

    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}

.left-item img {
    border-radius: 2px;
    width: 37px;
}

.Right-nav-item {

    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 4px;
    flex-wrap: wrap;
}


.menu-icon {
    display: none;
}


.left-nav-item #logo {
    display: none;
}

.stacking{
    position: relative;
}

@media screen and (max-width: 400px) and (orientation: portrait) {
    .header-nav {
        width: 100%;
        height: 100px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    }

    .navbar {
        font-size: 14px;
        color: blue;
        width: 94%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        line-height: 0.9;
        font-weight: bold;
    }

    .left-nav-item {

        margin-top: 1em;
        width: 60%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        background-color: red;
        display: none;
    }

    .left-item img {
        border-radius: 100%;
        width: 37px;
    }

    .Right-nav-item {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-content: center;
        gap: 4px;
        flex-wrap: wrap;
        display: none;
    }


    #logo {
        display: block;
        font-size: 20px;
    }

    .menu-icon {
        display: block;
        font-size: 20px;
    }



}

.section-1 {
    margin-top: 5.3em;
    width: 100%;

}

.section-1-Banner {
    width: 100%;
    height: 700px;
    margin: 0 auto;

}


.section-1-Banner img {

    width: 100%;
}