* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100%;
    width: 100%;

}

.header {
    width: 100%;
    height: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.navbar {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.left-navbar {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.right-navbar {

    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 7px;
}

.right-item {
    font-size: 10px;
}

.ra {
    font-size: 8px;
    font-weight: 500;
}

#searchbar {
    width: 240px;
    height: 16px;
    border: none;
    border-radius: 3px;
    text-align: center;
    background-color: rgb(245, 239, 239);
    font-size: 8px;
}


.section-1 {
    width: 100%;
    height: 100%;
}

.sction-1-content {
    width: 98%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 7px;
    height: 140px;
    margin-top: 1.8em;

}

.content-section1 {
    padding: 0px 10px 0px 10px;

}



.img1-logo {
    width: 20%;

}

.center-section-content {
    padding-top: 3em;
    width: 50%;
}

.last-section-1 {
    width: 20%;
    display: flex;
    justify-content: center;

    gap: 10px;
    flex-wrap: wrap;
}


/* Section-2 */
.section-2-container {
    margin-top: 2em;
    width: 100%;

}

.section-2-main-content {
    width: 96%;
    background-color: rgb(43, 41, 41);
    margin: 0 auto;
    padding-top: 1.8em;
    border-radius: 10px;
}

.container-section-2 {
    width: 90%;
    margin: 0 auto;


}

.container-section-2 img {
    width: 100%;


}
.paragraph_1{
    margin-left: 30px;
    margin-top: 20px;
}
.paragraph_2{
    margin-left: 30px;
    font-size: 30px;
    font-weight:bolder;
}

.container2{
    
    
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        align-items: center;
        color: white;
        position: relative;
    
}
  .imgs img{
    width: 600px;
    height: 600px;
  }
.imgs{
    
    border-radius: 6px;

    border: 2px solid rgba(97, 93, 93, 0.548);
    background-color: rgb(58, 53, 53);
    padding: 20px;
    
    
}

.text{
    font-size: 50px;
    font-weight: bold;
}

.container2{
    position: relative;
}
.fixed{
    margin-top: 2px;
    margin-bottom: 0;
    position: fixed;
}

.footer-wrapper{
    width: 35%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    position: fixed;
    top: 88%;
    left: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    color: white;
}

.footer_2{
  width: 50%;
     display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
    
    row-gap: 3px;
}
.footer_1{
font-size: 27px;
font-weight: bold;
}

.footer_2_1{


border: 3px solid;
border-radius: 3px;
}

.footer_3{
    font-size: 20px;
    border: 3px solid white;
    border-radius: 5px;
    background-color: yellowgreen;
}

.div_video{
    margin-top: 20px;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.div_vid{
    height: 30em;
    width: 50em;
    padding: 8px ;
border-color: black;
border-radius: 20em;
        justify-content: center;
    align-items: center;
  
}
.div_vid video{

height: 40em;
width: 40em;
}

.div_footer{
    display: flex;
    margin-top: 2em;
    margin-bottom: 3em;
    gap: 10em;
    margin-left: 3em;
    font-size: 20px;
    padding: 5px;
}
.pp{
    margin-top: 4em;
    margin-left: 1.2em;
    font-size: 60px;
    font-weight: bold;
}
p{
    padding:5px;
}