

.parent{
  width: 400px;
  height:200px;

 background-color:gray;
 border: 1px solid green;


}

.child{
  width:100px;
  height: 100px;
  background-color: aqua;
  border:2px solid black;
  margin:0 auto;
  /* transform: rotate(270deg);
  transform: skew(20deg);
  */
}

.child :hover{
   transform: scale(6);

}

