*{

padding: 0;
margin: 0;
  box-sizing: border-box;
}

.container{
  height: 300px;
  width: 300px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  /* justify-content: space-between;
  justify-content: space-evenly; */
  align-items: end;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  column-gap: 2px;
  align-content: center;
}

.item{
  height: 50px;
  width: 50px;
  border: 2px solid green;
  background-color: aqua;
  margin-top: 10px;
  flex-grow: 2;
}
#three{
  order: calc(4);
}
