#one{
margin-top: 0;
width: 100%;
height: 40px;
background-color: blue;
}

#one_1{
  margin-left: 48cm;
  color: aliceblue;
  text-size-adjust: inherit;
}
#two{
  margin-top: 20px;
width: 20%;
height: 40px;
}

body{
  margin: 0;
  padding: 0;
}